/*body{
    padding-top: 4em;
}*/

.first-row{
    margin-top: 4em;
}
.crimson{
    color: crimson;
}
.center-align{
    text-align: center;
}
.show-projects{
	border: 3px solid gray;
	padding: 20px;
}
.clear{
	height: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: 2px solid gray;
	border-bottom: 2px solid black;
}
.text-editor{
	display: none;
}
.iframe{
	width: 30em;
	height: 10em;
}
.output-div{
	border: 1px solid gray;
}
#tags{
    text-decoration: none;
    display: inline-block;
}
.small-button{
    height: 20px;
    text-align: center;
}
.box-type{
    width: 15em;
    border: 2px solid gray;
    padding: 5px;
    background-color: lightgrey;
}
.plain-anchor{
    text-decoration: none;
}

.related_blog_iframe{
    width: 100%;
    border: 3px solid darkgray;
    height: 300px;
    background-color: whitesmoke;
    font-size: 12px;
    font-family: tahoma, sans-serif;
    padding: 2px 300px 2px 2px;
    font-color: black;
}

.related_blog_link{
    font-size: smaller;
    font-color: lightblue;
}

.form-control{
    margin-top: 10px;
}

.list{
    display: none;
}
.blocks{

}
.switch{
    margin-bottom: 20px;
}
.project{
    height: auto;
    text-align: center;
    opacity: 1;
    transition: 0s background-color;
    background-color: white;
    margin-bottom: 20px;
    font-family: 'Righteous', sans-serif;
    font-size: larger;
}
.project:hover{
    cursor: pointer;
    -webkit-transition: opacity 0.7;
    transition-delay: 1s;
    background-color: white;
}
.article__body{
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    position: relative;
    text-align: center;
}
.article__body img{
    padding: 0px;
    margin: 0px;
    height: 400px;
    width: 100%;
    border: 1px solid lightgrey;
    opacity: 1;
}
.article__body img:hover{
    opacity: 0.7;
    background-color: lightgreen;
}
.article__footer{
    height: 100px;
    width: auto;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    color: #ffffff;
    background-color: #006699;
    padding: 2% 6%;
    vertical-align: middle;
}
.article__footer:hover{
    background-color: #0066CC;
}

.subscription-form{
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.small-container{
    padding: 10px;
    font-family: tahoma, sans-serif;
    font-size: small;
}
.heading{
    font-family: tahoma, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    width: 100%;
    text-decoration: underline;
    margin: 0px 0px 2px 0px;
}
.large-text{
    font-size: 22px;
}
.bolder{
    font-weight: bolder;
}